<div class="blog-post">
    <div class="post-head">
        {{#if isDashboard}}
        <a href="/updatePost/{{id}}">
        {{else}}
        <a href="/post/{{id}}">
        {{/if}}
        <h2>{{title}}</h2></a>
        <p>{{postStamp}}</p>
    </div>
    <p>{{content}}</p>
</div>