<h1>Your Dashboard</h1>

<div class="">
  <h2>My Posts</h2>
  {{#if posts}}
    <ul class="post-list">
      {{#each posts}}
        <li>
            <div class="blog-post">
              <div class="post-head">
                  <a href="/updatePost/{{id}}"><h2>{{title}}</h2></a>
                  <p>{{postStamp}}</p>
              </div>
              <p>{{content}}</p>
            </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>You have not created any posts yet.</p>
  {{/if}}
  <a href="/newpost">Create New Post</a>
</div>

